* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: #d8dbe2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

/* NAVBAR
=========================== */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.navbar > div {
  padding: 0 30px;
  font-size: 20px;
}

.navbar .menu {
  margin-right: auto;
}

.navbar .lang {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

/* SOCIAL MEDIA
=========================== */
.media ul {
  position: absolute;
  bottom: 250px;
  left: -140px;
  transform: rotate(-90deg);
}

.media ul li {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
  padding: 0 30px;
}

/* TEXT
=========================== */
.text {
  position: absolute;
  top: 200px;
  left: 100px;
  transform: rotate(-90deg);
}

.text h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -10px;
  margin-bottom: 20px;

  position: relative;
  overflow: hidden;
  height: 150px;
  width: 600px;
}
.text h1 .hidetext {
  position: relative;
}

.text h2 {
  position: absolute;
  top: 40px;
  left: -80px;
  color: #efde74;
  z-index: -1;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 80px;
}
.text h3 .hidetext {
  position: absolute;
}

.text p {
  width: 200px;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 500;

  position: relative;
  overflow: hidden;
  height: 110px;
}
.text p .hidetext {
  position: absolute;
}

/* SPONSOR
=========================== */
.sponsor {
  position: absolute;
  right: 0.5em;
  bottom: 1em;
  text-align: right;
}

.sponsor img {
  width: 40%;
}

.sponsor p {
  margin-top: 2em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(180deg);
}

/* DISTORTION
=========================== */
.distortion {
  width: 580px;
  height: 720px;
  position: absolute;
  right: 300px;
  bottom: 0;
}

/* OVERLAY
=========================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: #efde74;
}

.second {
  background: #efde74;
  left: 33.3%;
}

.third {
  background: #efde74;
  left: 66.6%;
}

@media screen and (max-width: 640px) {
  .text h1 {
    font-size: 70px;

    font-weight: 500;
  }
  .distortion {
    width: 480px;
    height: 720px;
    position: absolute;
    top: 150px;
    right: 100px;
    bottom: 0;
  }
  .text {
    position: absolute;
    top: 900px;
    left: 0px;
    transform: rotate(0deg);
  }

  .text h2 {
    position: absolute;
    top: 200px;
    left: 0px;
    color: #efde74;
    z-index: -1;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  .text h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;

    position: relative;
    overflow: hidden;
    height: 80px;
  }

  body {
    overflow-y: auto;
  }

  .media ul {
    position: absolute;
    bottom: 0px;
    left: 250px;
    transform: rotate(-90deg);
    overflow: hidden;
  }
  .sponsor {
    position: absolute;
    top: 800px;
    text-align: right;
  }
}
